<nav class="navbar navbar-custom bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand " href="#">Pinterested</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="nav navbar-nav navbar-rigth">

<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'About Me', home_about_path %></li>
<li><%= link_to "Login", new_user_session_path %></li>
  <li><%= link_to "Join", new_user_registration_path %></li>
      </ul>
   
    </div>
  </div>
</nav>