.containero {
columns: 350px;
//column-width: 300px;
//column-count: 3;
overflow: hidden;

}

#pins {
  margin: 0 auto;
}

.box {

  margin: 5px;
  width: 314px;
}

.box img {
  width: 100%;
}
 containero div {
overflow: hidden; 
 }
