.grid-item { width: 400px; }


*{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 85%;

}

#pins {
  margin: 0 auto;
}


//.grid {
  //max-width: 60rem;
  //margin: 0 auto;
  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
//}

.containero {
  width: 800px;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em; /* Set the gap between grid items */

/* Media query for screens wider than 600px */
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
  }

  /* Media query for screens wider than 900px */
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr); /* Change to 4 columns */
  }

  /* You can add more media queries for other screen widths if needed */
}


.box {
  //margin: 5px;
  width: 400px;
  float: left;

}

.box img {
  width: 100%;
  heigth: 300px;
  object-fit: contain;
}

